<nav class="nav-bar">
  <ul>
    <li><a href="{{ '/index/' | relative_url }}" class="{% if page.url == '/' or page.url == '/index/' %}active{% endif %}">About</a></li>
    <li><a href="{{ '/engineering/' | relative_url }}" class="{% if page.url == '/engineering/' %}active{% endif %}">Engineering</a></li>
    <li><a href="{{ '/art/' | relative_url }}" class="{% if page.url == '/art/' %}active{% endif %}">Art</a></li>
    <li><a href="{{ '/classes/' | relative_url }}" class="{% if page.url == '/classes/' %}active{% endif %}">Classes</a></li>
    <li><a href="{{ '/resume/' | relative_url }}" class="{% if page.url == '/resume/' %}active{% endif %}">Resume</a></li>
  </ul>
</nav>
