<!DOCTYPE html>
<html lang="en">

<div class="logo-container">
  <a href="/" class="logo-container">
  <img src="/assets/images/logo.png" alt="Logo" class="site-logo">
</a>

</div>


<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  {% include header.html %}
    <main>
        {{ content }}
    </main>
</body>

<footer class="project-footer">
  <a href="/engineering/" class="breadcrumb-link">← Back to Engineering Portfolio</a>
</footer>

</html>